<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticket Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body ng-app="app" ng-controller="main as ctrl">
    <div style="height: 100%;" layout="column">
        <header flex="10" class="header" layout="row" layout-align="start center">
            <h1 class="title">TicketShare</h1>
            <input class="search" type="text" placeholder="Find events you would like to go">
        </header>
        <article flex class="content">
            <div class="banner" layout="row" layout-align="center center">
                <!-- <img src="images/basketball.jpg" alt=""> -->
                <span class="title">
                    NBA Regular Season 2018-2019 Tickets
                </span>
            </div>
            <section class="tickets-container" layout="row" layout-margin>
                <aside class="side-nav" flex="20" layout="column">
                    <md-input-container class="price-range">
                        <label>Price Range</label>
                        <input type="range" name="range" ng-model="ctrl.priceRange" ng-min="ctrl.minPrice" ng-max="ctrl.maxPrice">
                        <span class="min-price">{{ ctrl.minPrice }}</span>
                        <span class="max-price">{{ ctrl.maxPrice }}</span>
                    </md-input-container>
                </aside>
                <article flex layout="column">
                    <md-card class="sort-section">
                        <md-card-title layout="row" layout-align="space-between">
                            <span class="tickets-amount">
                                25 of {{ctrl.tickets.length}} tickets
                            </span>
                            <span class="sorting">
                                sort by
                                <md-menu>
                                    <span class="chosen" ng-click="$mdMenu.open($event)" aria-label="Open sort menu">
                                        {{ctrl.sortOption}}
                                        <svg class="drop-icon" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" stroke-linecap="round" stroke-width="1.35">
                                            <path d="M7 1.053L4.027 4 1 1" stroke="currentColor" fill="none"></path>
                                        </svg>
                                    </span>                                    
                                    <md-menu-content width="2">
                                        <md-menu-item ng-repeat="option in ctrl.sortOptions">
                                            <md-button ng-click="ctrl.sortBy(option)">
                                                <span md-menu-align-target>{{ option }}</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </span>
                        </md-card-title>
                    </md-card>
                    <md-card ng-repeat="ticket in ctrl.tickets">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ticket.title}}</span>
                                <span class="md-subhead">{{ ticket.price | currency}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media">
                                    <img src="https://cdn.viagogo.net/img/svgpng4/77551/256963.png" alt="">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </article>
            </section>
        </article>
    </div>

</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="app.js"></script>

</html>