<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticket Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="node_modules/angularjs-slider/dist/rzslider.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body ng-app="app" ng-controller="main as ctrl">
    <div layout="column">
        <header flex="10" class="header" layout="row" layout-align="start center">
            <h1 class="title" ng-click="ctrl.showFav = undefined;">Ticket Share</h1>
            <div flex>
                <div class="search" layout="row" layout-align="space-between">
                    <input type="text" placeholder="Find events you would like to go">
                    <svg class="search-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="20px" height="20px" fill="#ffffff" viewBox="0 0 76.652 76.652" style="enable-background:new 0 0 76.652 76.652;"
                        xml:space="preserve">
                        <g>
                            <g id="Zoom_2_">
                                <g>
                                    <path d="M75.549,68.735L58.189,52.06c4.267-5.283,6.814-11.907,6.814-19.097c0-17.216-14.58-31.221-32.504-31.221
                    C14.58,1.741,0,15.746,0,32.963s14.58,31.223,32.5,31.223c7.73,0,14.835-2.609,20.42-6.954l17.301,16.618
                    c0.732,0.707,1.699,1.061,2.662,1.061c0.967,0,1.93-0.354,2.666-1.061C77.02,72.435,77.02,70.149,75.549,68.735z M7.536,32.963
                    c0-13.223,11.2-23.979,24.964-23.979c13.768,0,24.968,10.756,24.968,23.979S46.268,56.949,32.5,56.949
                    C18.736,56.949,7.536,46.185,7.536,32.963z" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <md-button layout="row" layout-align="center center" ng-click="ctrl.showFavorites()">
                Favorites
                <img ng-if="!ctrl.showFav" style="margin-left: 5px;" src="assets/icons/favorite-border.svg" alt="favorite">
                <img ng-if="ctrl.showFav" style="margin-left: 5px;" src="assets/icons/favorite.svg" alt="favorite">
            </md-button>
        </header>
        <article flex class="content">
            <div class="banner">
                <div class="wrapper" layout="row">
                    <div layout="column" layout-align="center start">
                        <p class="title">
                            Los Angeles Lakers vs Sacramento Kings
                        </p>
                        <p class="location">{{ctrl.eventLocation}}</p>
                        <p class="date">{{ ctrl.date | date:'medium' }}</p>
                    </div>
                </div>
            </div>
            <section class="tickets-container" layout="row" layout-margin layout-align="space-between">
                <aside class="side-nav" flex="15" layout="column">
                    <img src="assets/images/staples-center.png" alt="" ng-click="ctrl.openImage($event, 'assets/images/staples-center.png')">
                    <md-input-container class="tickets-amount">
                        <p>Tickets Amount</p>
                        <div layout="row" layout-wrap>
                            <md-button flex="20" class="amount-button md-raised" ng-click="ctrl.selectAmount('')" ng-class="{'clicked': ctrl.ticketsAmount === ''}">Any</md-button>
                            <md-button flex="20" class="amount-button md-raised" ng-repeat="amount in ctrl.ticketsAmountOptions" ng-click="ctrl.selectAmount(amount)"
                                ng-class="{'clicked': ctrl.ticketsAmount === amount}">
                                {{amount}}</md-button>
                        </div>
                    </md-input-container>
                    <md-input-container class="price-range">
                        <p>Price Range</p>
                        <rzslider rz-slider-model="ctrl.priceSlider.minValue" rz-slider-high="ctrl.priceSlider.maxValue"
                            rz-slider-options="ctrl.priceSlider.options"></rzslider>
                    </md-input-container>
                    <md-input-container class="areas-filter">
                        <p>Select Areas</p>
                        <div ng-repeat="area in ctrl.areas">
                            <md-checkbox ng-model="ctrl.areaFilter[area]" aria-label="{{area}}" >
                                {{ area }}
                            </md-checkbox>
                        </div>
                    </md-input-container>
                    <div class="advanced-search-section" ng-if="ctrl.isAdvancedSearch">
                        <md-input-container class="row-range">
                            <p>Rows Range</p>
                            <rzslider rz-slider-model="ctrl.rowSlider.minValue" rz-slider-high="ctrl.rowSlider.maxValue" rz-slider-options="ctrl.rowSlider.options"></rzslider>
                        </md-input-container>
                        <md-input-container class="seats-range">
                            <p>Seats Range</p>
                            <rzslider rz-slider-model="ctrl.seatSlider.minValue" rz-slider-high="ctrl.seatSlider.maxValue" rz-slider-options="ctrl.seatSlider.options"></rzslider>
                        </md-input-container>
                        <md-input-container class="score-range">
                            <p>
                                Score Range
                                <md-tooltip md-direction="bottom">Our score based on price, location and view from seat</md-tooltip>
                            </p>
                            <rzslider rz-slider-model="ctrl.scoreSlider.minValue" rz-slider-high="ctrl.scoreSlider.maxValue" rz-slider-options="ctrl.scoreSlider.options"></rzslider>
                        </md-input-container>
                    </div>
                    <div class="advanced-search-link" ng-if="!ctrl.isAdvancedSearch">
                        <p>
                            Didn't find what you're looking for?
                        </p>
                        <md-button md-no-ink ng-click="ctrl.isAdvancedSearch = true">Click here for advanced search</md-button>
                    </div>
                    <div class="advanced-search-link" ng-if="ctrl.isAdvancedSearch">
                        <md-button md-no-ink ng-click="ctrl.hideAdvancedSearch()">Hide advanced search</md-button>
                    </div>
                </aside>
                <article flex="70" layout="column">
                    <md-card class="sort-section">
                        <md-card-title layout="row" layout-align="space-between center">
                            <span class="tickets-amount">
                                {{ctrl.filteredTickets.length > ctrl.ticketsLimit ? ctrl.ticketsLimit : ctrl.filteredTickets.length}} of {{ctrl.filteredTickets.length}} tickets
                            </span>
                            <span class="sorting" layout="row" layout-align="start center">
                                sort by
                                <md-select class="sort-options" ng-model="ctrl.sortChosen" ng-change="ctrl.sortTickets()" md-selected-text="ctrl.sortText()" multiple>
                                    <md-option ng-value="option.value" ng-disabled="option.isDisabled" ng-repeat="option in ctrl.sortOptions">{{option.name}}</md-option>
                                </md-select>
                            </span>
                        </md-card-title>
                    </md-card>
                    <div class="ticket-entity" layout="row" layout-align="space-between" layout-margin ng-click="ctrl.openTicket(ticket, $event)"
                        ng-repeat="ticket in (ctrl.filteredTickets = (ctrl.tickets | orderBy: ctrl.sortChosen | filter: ctrl.priceRangeFilter | filter: ctrl.areaFilterFunc | filter:{amount:ctrl.ticketsAmount} | filter: {favorite: ctrl.showFav} | filter: ctrl.advancedFilter) | limitTo: ctrl.ticketsLimit)">
                        <div class="ticket-main" flex="80" layout="row" layout-align="start" layout-margin>
                            <div layout="row" layout-align="center center">
                                <img ng-if="ticket" class="ticket-image" ng-src="assets/images/section {{ticket.section}}.png" alt=""
                                    ng-click="ctrl.openImage($event, 'assets/images/section ' + ticket.section + '.jpg')">
                                <md-tooltip md-direction="bottom">Click to View</md-tooltip>
                            </div>
                            <div class="ticket-details" flex layout="column" layout-align="start start">
                                <span class="title">
                                    Section {{ticket.section}} | Row {{ticket.row}}
                                    <span ng-if="ctrl.isAdvancedSearch"> | Seats
                                        <span ng-repeat="s in ticket.seat">
                                            <strong>{{s}}</strong>
                                            <span ng-if="$index !== (ticket.seat.length - 1) ">,</span>
                                        </span>
                                    </span>
                                </span>
                                <span class="amount">{{ticket.amount}} tickets</span>
                                <span class="view" ng-class="{'ok': ticket.view.status == '0', 'warning': ticket.view.status == '1', 'error': ticket.view.status == '2'}" layout="row">
                                    {{ticket.view.message}}
                                    <span layout="row" layout-align="center center" style="margin-left: 5px;">
                                        <img src="assets/icons/info.svg" width="15" height="15">
                                        <md-tooltip md-direction="bottom">{{ticket.view.subMsg}}</md-tooltip>
                                    </span>
                                </span>
                                <span>
                                    Our Score: <strong>{{ ticket.score }}/10</strong>
                                    <md-tooltip md-direction="bottom">Our score based on price, location and view from seat</md-tooltip>
                                </span>                                
                            </div>
                        </div>
                        <div class="ticket-buy" layout="column" layout-align="end center">
                            <md-button ng-if="!ticket.favorite" class="favorite md-icon-button md-accent" aria-label="Favorite" ng-click="ctrl.toggleFavorite($event, ticket)">
                                <img src="assets/icons/favorite-border.svg" alt="favorite">
                                <md-tooltip md-direction="top">Add to favorites</md-tooltip>
                            </md-button>
                            <md-button ng-if="ticket.favorite" class="favorite md-icon-button md-accent" aria-label="Favorite" ng-click="ctrl.toggleFavorite($event, ticket)">
                                <img src="assets/icons/favorite.svg" alt="favorite">
                                <md-tooltip md-direction="top">Remove from favorites</md-tooltip>
                            </md-button>
                            <p class="price">{{ ticket.price | currency}}</p>
                            <span>per ticket</span>
                            <md-button class="buy-btn md-raised md-primary" ng-click="ctrl.buyTicket($event)">Buy</md-button>
                        </div>
                        
                    </div>
                    <md-button class="md-raised show-more-btn" ng-if="ctrl.filteredTickets.length > ctrl.ticketsLimit" ng-click="ctrl.loadTickets()">Show more tickets</md-button>
                </article>
            </section>
        </article>
    </div>
</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
<script src="data.js"></script>
<script src="app.js"></script>
</html>