@font-face {
    font-family: HeeboRegular;
    src: url(font/Heebo-Regular.ttf);
}

body {
    font-family: HeeboRegular;
}

.header {
    background-color: #ffffff;
    padding: 10px;
}

.header .title {
    color: #000000;
    margin: 0 20px;
}

.header .search {
    background-color: #5799d7;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    outline: none;
    padding: 10px;
    width: 260px;
}

input::-webkit-input-placeholder {
    color: #ffffff !important;
}

.content {
    background-color: #eeeeee;
}

.content .banner {
    background-color: #5799d7;
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .banner > img {
    height: auto;
    margin: -100px 0 0 0;
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.content .banner > span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}