@font-face {
    font-family: HeeboRegular;
    src: url(assets/font/Heebo-Regular.ttf);
}

body {
    font-family: HeeboRegular;
}

.header {
    background-color: #ffffff;
    padding: 10px;
}

.header .title {
    color: #000000;
    margin: 0 20px;
}

.header .search {
    background-color: #5799d7;
    border-radius: 10px;
    color: #ffffff;    
    padding: 10px;
    width: 250px;
}

.header .search > input {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.header .search > .search-icon {
    height: 18px;
    width: 18px;
}

input::-webkit-input-placeholder {
    color: #ffffff !important;
}

.content {
    background-color: #eeeeee;
}

.content .banner {
    background-color: #5799d7;
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .banner > img {
    height: auto;
    margin: -100px 0 0 0;
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.content .banner > span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
}

.content .tickets-container {
    width: 80%;
    margin: 20px auto;
}

.tickets-container .side-nav {
    max-width: 300px;
}

.side-nav .price-range .min-price {
    position: absolute;
    left: 0;
    bottom: 0;
}

.side-nav .price-range .max-price {
    position: absolute;
    right: 0;
    bottom: 0;
}



.side-nav .price-range > span {
    margin-bottom: 10px;
}

.sort-option {
    padding: 5px 15px;
}
.sort-section .sorting .chosen {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


.sort-section .sorting .drop-icon {
    cursor: pointer;
    height: 13px;
    width: 13px;
}
.card-media {
    background-color: #eeeeee; 
}