@font-face {
    font-family: HeeboRegular;
    src: url(assets/font/Heebo-Regular.ttf);
}

body {
    font-family: HeeboRegular;
}

.header {
    background-color: #ffffff;
    padding: 10px;
}

.header .title {
    cursor: pointer;
    font-size: 40px;
    color: #000000;
    margin: 0 20px;
    outline: none;
}

.header .search {
    background-color: #5799d7;
    border-radius: 10px;
    color: #ffffff;    
    padding: 10px;
    width: 250px;
}

.header .search > input {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.header .search > .search-icon {
    height: 18px;
    width: 18px;
}

input::-webkit-input-placeholder {
    color: #ffffff !important;
}

.content {
    background-color: #eeeeee;
}

.content .banner {
    background-color: #5799d7;
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .banner .wrapper {
    height: 100%;
    margin: 0 auto;
    width: 80%;
}

.side-nav img {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    outline: none;
    height: 240px;
    vertical-align: middle;
    border: 0;
    margin-bottom: 10px;
}

.side-nav md-input-container {
    margin: 5px 0;
}

.side-nav md-input-container p {
    margin: 5px 0;
}

.side-nav .row-range {
    width: 100%;
}

.content .banner p {
    color: #ffffff;
    font-size: 20px;
    margin: 2px;
}

.content .banner .title {
    font-weight: bold;
}

.content .banner .location {
    font-size: 16px;
}

.content .banner .date {
    font-size: 14px;
}

.content .tickets-container {
    width: 80%;
    margin: 20px auto;
}

.tickets-container .side-nav {
    max-width: 300px;
}

.side-nav md-input-container > p {
    margin-bottom: 10px;
    font-weight: bold;
}

.side-nav .areas-filter md-checkbox.md-checked .md-icon {
    color: #5799d7 !important;
    background-color: #5799d7 !important;
}

.side-nav .tickets-amount .amount-button {
    background-color: #5799d7;
    color: #ffffff;
    margin: 6px !important;
    min-width: unset !important;
    text-transform: none;
}

.side-nav .tickets-amount .amount-button:hover,
.side-nav .tickets-amount .amount-button:focus,
.side-nav .tickets-amount .amount-button.clicked,
.amount-button:not([disabled]):hover{
    background-color: #2869c7 !important
}

.side-nav .advanced-search-section md-input-container {
    width: 100%;
}

.side-nav .advanced-search-link {
    margin-top: 10px;
}

.side-nav .advanced-search-link button {
    color: #2869c7;
    font-size: 18px;
    margin: 0;
    text-transform: none;
}

.side-nav .advanced-search-link p {
    margin-left: 5px;
}

.price-range .rz-pointer {
    background-color: #5799d7 !important;
    outline: none;
}

.rzslider .rz-selection {
    background-color: #5799d7 !important;
}

.sort-option {
    padding: 5px 15px;
}
.sort-section .sorting .chosen {
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: underline;
}

.sort-section .sorting .drop-icon {
    cursor: pointer;
    height: 13px;
    width: 13px;
}

.ticket-entity {
    cursor: pointer;
    height: 150px;
    outline: none;
    position: relative;
}

.ticket-entity:hover {
    box-shadow: 0 4px 14px 0 rgba(37,32,31,.25);
}

.ticket-entity .ticket-image {
    background-color: #eeeeee;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 100%;
}

.ticket-entity .ticket-details {
    padding-top: 5px;
}

.ticket-entity .ticket-details .title {
    font-size: 18px;
    font-weight: bold;
}

.ticket-entity .ticket-details .amount {
    font-style: italic;
}

.ticket-entity .ticket-details .view.ok {
    color: green;
}

.ticket-entity .ticket-details .view.warning {
    color: yellow;
}

.ticket-entity .ticket-details .view.error {
    color: red;
}

.ticket-entity .ticket-buy .price {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.ticket-entity .ticket-buy .price + span {
    color: #777777;
}

.ticket-entity .ticket-buy .buy-btn {
    background-color: #5799d7 !important;
}

.ticket-entity .ticket-buy .buy-btn:hover {
    background-color: #287ac7 !important;
}

.ticket-entity .favorite {
    position: absolute;
    top: 0;
    right: 0;
}

.ticket-entity-modal {
    height: 45%;
    width: 60%;
}

.ticket-entity-modal .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ticket-entity-modal .ticket-image {
    background-color: #eeeeee;
    cursor: pointer;
    outline: none;
    width: 220px;
    height: 80%;
    margin-bottom: 10px;
}

.ticket-entity-modal .ticket-details {
    padding-top: 5px;
    margin-left: 30px;
}

.ticket-entity-modal .ticket-details > span {
    margin-bottom: 5px;
}

.ticket-entity-modal .ticket-details .title {
    font-size: 18px;
    font-weight: bold;
}

.ticket-entity-modal .ticket-details .view.ok {
    color: green;
}

.ticket-entity-modal .ticket-details .view.warning {
    color: yellow;
}

.ticket-entity-modal .ticket-details .view.error {
    color: red;
}

.ticket-entity-modal .ticket-buy .price {
    font-weight: bold;
    font-size: 20px;
}

.ticket-entity-modal .ticket-buy .buy-btn {
    margin: 20px;
    background-color: #5799d7 !important;
}

.ticket-entity-modal .ticket-buy .buy-btn:hover {
    background-color: #287ac7 !important;
}

.divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xIDF2NCIvPjwvc3ZnPg==);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: .125rem .5rem;
    width: .75rem;
    margin: .375rem auto;
    padding: .375rem 0;
    position: relative;
    z-index: 1;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #fff;
}

.show-more-btn {
    border-radius: 18px;
    background-color: #5799d7 !important;
    color: #ffffff !important;
    margin: 10px auto;
    width: 200px;
}

.back-to-top {
    background-color: #2869c7 !important;
    bottom: 10px;
    color: #ffffff;
    right: 10px;
    position: fixed;
    width: 40px !important;
    height: 40px !important;
}

.md-tooltip {
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 14px;
    border-radius: 5px;
    border: #000000 solid 1px;
    padding: 5px;
}

.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
    background-color: unset;
}

md-toast {
    position: fixed !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translate3d(-50%, 0, 0) !important;
    text-align: center;
}

.md-toast-animating {
    overflow: unset !important;
}